body {
	background-color: #000;
    font-family: verdana;	
	margin: 0px;
}

#back1 {
    width: 100%;
    height: 200px;
    background-color: #d6e0e3;
}

#wrapper1 {
    width: 980px;
    margin: auto;
    background-color: #d6e0e3;
}

#back2 {
	width: 100%;
    background-color: #6a4415;
}

#wrapper2 {
	width: 980px;
    background-color: #6a4415;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 15px;
}

#wrapper2 table {
    width:980px;
}

#wrapper2 th {
    background-color: #000;
    color: #FFF;
    height: 25px;
}

#wrapper2 td {
    background-color: #FFF;
    height: 25px;
    padding: 9px;
}

.new {
    font-size: 15px;
    color: #ffc276;
    text-decoration: none;
}

.edit {
    font-size: 15px;
    color: #689a03;
    text-decoration: none;
}

.show {
    font-size: 15px;
    color: blue;
    text-decoration: none;
}

.delete {
    font-size: 15px;
    color: #c30808;
    text-decoration: none;
}

.clear {
	clear: both;
}